@font-face {
    font-family: 'numbers';
    src: url('./fonts/Mammoth\ Rush.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    
  }

.roulette{
    margin-left: 40%;
    margin-right: 40%;
    min-height:300px;
    min-width:300px;
    position:relative;
}
.rouletteImg{
    width:100%;
    height:100%;
    position:relative;
}
.indicator{
    margin-left: 30%;
    margin-right: 30%;
    width:25%;
    height:25%;

    position:absolute;
    top: 50%;
    transform:translate(0,-62%);
    left: 57%;
}
.counterStyle{
    opacity: 0;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 500%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position:absolute;
    top: 10%;
    transform:translate(0,-62%);
    left: 120%;
}
.buttons{
    position:relative;
        min-height: 71px;
        width: 55%;
        margin-top: 12%;
        margin-left: 25%;
        margin-right: 23%;
        transform:translate(0,-62%);
    .buttonRed{
        position:relative;
        margin-left: 0.5%;
        margin-top: 0.5%;
        cursor: pointer;
        text-align: center;
        width:9vh;
        height:9vh;
        border-radius: 15%;
        background-color:#ff1a39;
        color:white;
        border-width: 0px;
        border-style: inherit;
        transform:translate(0,-62%);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2vw;
    }
    .buttonBlack{
        position:static;
        margin-left: 0.5%;
        margin-top: 0.5%;
        cursor: pointer;
        text-align: center;
        width:9vh;
        height:9vh;
        border-radius: 15%;
        background-color:#474747;
        color:white;
        border-width: 0px;
        border-style: inherit;
        transform:translate(0,-62%);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2vw;
    }
    .buttonZero{
        position:absolute;
        cursor: pointer;
        margin-left: -8%;
        margin-top: 10.5%;
        text-align: center;
        width:9vh;
        height:28vh;
        border-radius: 15%;
        background-color:#4dff79;
        color:white;
        border-width: 0px;
        border-style: inherit;
        transform:translate(0,-62%);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2vw;
    }
}
