@font-face {
  font-family: "numbers";
  src: url("./fonts/Mammoth\ Rush.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.roulette {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40%;
  margin-right: 40%;
  min-height: 300px;
  min-width: 300px;
  position: relative;
}

.wheelContainer {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.indicator {
  position: absolute;
  top: 50%;
  left: 89%;
  transform: translate(0, -34%);
  width: 25%;
  height: 25%;
}

.betContainer {
  margin: 14px 0 14px 0;
}
