.lastResultsContainer {
  display: flex;
  align-items: center;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border-radius: 50%;
}

.red {
  background-color: #ff0031;
}
.gray {
  background-color: #474747;
}
.green {
  background-color: #1dbe45;
}
