.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, rgb(56, 60, 68), rgb(71, 75, 83));
  top: 0;
  width: 100%;
  z-index: 1030;
  border-bottom-right-radius: 20px;
}

.navbar > * {
  padding: 10px;
}

.navbar_title {
  font-size: 21px;
}

.logo {
  width: 30px;
  height: 30px;
}

.link {
  display: flex;
  color: inherit;
  text-decoration: inherit;
}

.link > * {
  margin-right: 5px;
}
