.navbar {
  position: sticky;
  align-items: center;
  display: flex;
  background-color: #1f2833;
  box-shadow: -1px 4px 5px 0px rgba(9, 24, 35, 0.7);
  -webkit-box-shadow: -1px 4px 5px 0px rgba(9, 24, 35, 0.7);
  -moz-box-shadow: -1px 4px 5px 0px rgba(9, 24, 35, 0.7);
  padding: 10px 0 10px 0;
  top: 0;
  width: 100%;
  z-index: 1030;
  margin-bottom: 10px;
}

.navbar > * {
  margin-left: 14px;
}

.navbar_title {
  font-family: RapierZero;
  font-size: 21px;
}

.logo {
  width: 30px;
  height: 30px;
}

.link {
  color: inherit;
  display: flex;
  text-decoration: inherit;
}

.link > * {
  margin-right: 5px;
}